<div class="col-12 col-lg-12 col-md-12">
    <!--HEADER-->
    <div class="row">
        <div class="col-12 col-lg-12 col-md-12 col-sm-8">
            <header>
                <app-navbar-user></app-navbar-user>
            </header>
        </div>
    </div>

    <!--CONTENT-->
    <div class="row" id="content">
        <div class="col-12 col-lg-12 col-md-12 col-sm-8">
            <table id="resultsTbl" class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                    <th scope="col">Estilo musical</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let result of results; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{result.email}}</td>
                    <td>{{result.musicStyle}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>

    <!--FOOTER-->
    <div class="row">
        <div class="col-12 col-lg-12 col-md-12 col-sm-8">
            <header>
                <app-footer-user></app-footer-user>
            </header>
        </div>
    </div>
</div>
