  <!--FOOTER CONTENT-->
  <div class="footer-widgets">
    <div class="container">
        <div class="row">
            <!--LOGO-->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="foot-about">
                    <h2 style="text-align: center;">
                        <div class="foot-logo" >
                            <a href="#/">
                                <img src="/assets/images/logo-3it.png" alt="" width="150" height="150">
                            </a>
                        </div>
                    </h2>
                </div>
            </div>

            <!--LINKS-->
            <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                <h2>Enlaces</h2>
                <ul>
                    <li><a href="#/">Inicio</a></li>
                    <li><a href="#/registrarse">Formulario</a></li>
                    <li><a href="#/resultados">Resultados</a></li>
                </ul>
            </div>

            <!--CONTACT-->
            <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                <div class="foot-contact">
                    <h2>Contacto</h2>
                    <ul>
                        <li><i class="fa fa-user" style="transform: scale(1.2);"></i><span>Luis Miguel Benavides Trejos</span></li>
                        <li><i class="fa fa-phone" style="transform: scale(1.2);"></i><span>(+57) 312 594 6560</span></li>
                        <li><i class="fa fa-envelope" style="transform: scale(1.1);"></i><span>jitzo471@gmail.com</span></li>
                        <li><i class="fa fa-map-marker" style="transform: scale(1.2);"></i><span>Bogotá, Colombia</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--FOOTER BAR-->
<div class="footer-bar">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="m-0">
                    Copyright &copy;{{actualDate}} | Hecho con <i class="fa fa-heart-o" aria-hidden="true"></i> por <a href="mailto://jitzo471@gmail.com" target="_blank">Luis Miguel Benavides Trejos</a>
                </p>
            </div>
        </div>
    </div>
</div>
