<div class="col-12 col-lg-12 col-md-12">
    <!--HEADER-->
    <div class="row">
        <div class="col-12 col-lg-12 col-md-12 col-sm-8">
            <header>
                <app-navbar-user></app-navbar-user>
            </header>
        </div>
    </div>

    <!--CONTENT-->
    <div class="row">
        <div class="col-12 col-lg-12 col-md-12 col-sm-8">
            <div class="hero-content-wrap">
                <img src="/assets/images/banner-3it.png" alt="">
                <div class="hero-content-overlay position-absolute w-100 h-100">
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col-12 col-lg-12 col-md-12 col-sm-8 d-flex flex-column justify-content-center align-items-start">
                                <div class="row">
                                    <div class="entry-header">
                                        <h1>Bienvenido {{app.getItem('user_name')}}!</h1>
                                        <h4>Estás ingresando a 3IT</h4>
                                    </div>
                                </div>

                                <div class="row mt-5" >
                                    <div class="entry-footer d-flex flex-wrap align-items-center mt-5">
                                        <a href="#/registrarse" class="btn gradient-bg mr-2" ><strong>Acceder al formulario</strong></a>
                                        <a href="#/resultados" class="btn orange-border" style="border: 3px solid rgb(217, 150, 26) !important;"><strong>Resultados formulario</strong></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--FOOTER-->
    <div class="row">
        <div class="col-12 col-lg-12 col-md-12 col-sm-8">
            <header>
                <app-footer-user></app-footer-user>
            </header>
        </div>
    </div>
</div>



