<div class="card text-white bg-{{bgClass}}">
    <div class="card-header">
        <div class="row">
            <div class="col col-xs-3">
                <i class="fa {{icon}} fa-5x"></i>
            </div>
            <div class="col col-xs-9 text-right">
                <div class="d-block huge"><strong>{{count}}</strong></div>
                <div class="d-block"><strong>{{label}}</strong></div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <span class="float-left"><strong>Ver detalles {{data}}</strong></span>
        <a id="arrow" href="{{link}}" class="float-right card-inverse">
            <span style="color: white !important;"><i class="fa fa-arrow-circle-right"></i></span>
        </a>
    </div>
</div>
