<div class="col-12 col-lg-12 col-md-12">
    <!--HEADER-->
    <div class="row">
        <div class="col-12 col-lg-12 col-md-12 col-sm-8">
            <header>
                <app-navbar-user></app-navbar-user>
            </header>
        </div>
    </div>

    <!--CONTENT-->
    <div class="row">
        <div class="col-12 col-lg-12 col-md-12 col-sm-8">
            <div class="login-page">
                <div class="row justify-content-md-center">
                    <div class="col-md-8">
                        <img class="user-avatar" src="/assets/images/logo-3it.png" width="100px" />
                        <h1>Formulario preferencias musicales - 3IT</h1>
                        <p></p>

                        <!--Formulario-->
                        <div class="form-content">
                            <form #f1="ngForm" role="form">
                                <div class="row" >
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="email">Email<span class="red">*</span></label>
                                                    <input type="text" id="email" name="email" class="form-control input-underline input-lg"
                                                    [(ngModel)]="user.email" placeholder="Email" email pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                                    required maxlength="30" autocomplete="off">
                                                    <small class="red" *ngIf="validateEmptyInput(user.email)">Este campo no puede estar vacío</small>
                                                    <small class="red" *ngIf="validateEmailInput(user.email)">Correo incorrecto</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="musicStyle">Estilo de música<span class="red">*</span></label>
                                                    <select name="musicStyle" id="musicStyle" class="form-control input-underline input-lg"
                                                    [(ngModel)]="user.musicStyle" (change)="changeOther()">
                                                        <option value="" disabled>Seleccione una opción</option>
                                                        <option *ngFor="let item of musicStyles" [value]="item.name" [title]="item.description">{{item.name}}</option>
                                                        <option value="otro">Otro</option>
                                                    </select>

                                                    <br>
                                                    <input type="text" name="musicStyle" class="form-control input-underline input-lg"
                                                        [(ngModel)]="otherMusic" placeholder="Estilo de música"
                                                        required maxlength="40" *ngIf="otherMusicFlag">
                                                    <small class="red" *ngIf="otherMusicFlag && validateEmptyInput(otherMusic)">Este campo no puede estar vacío</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 form-group text-center">
                                        <button type="button" class="btn rounded-btn" [disabled]="!f1.valid" (click)="onSubmit()">Enviar información</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="row">
                            <div class="col-md-12 form-group text-center">
                                <a class="" href="#/politica-privacidad"><small>Política de privacidad</small></a>
                            </div>
                        </div>
                        <!--Fin formulario-->
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--FOOTER-->
    <div class="row">
        <div class="col-12 col-lg-12 col-md-12 col-sm-8">
            <header>
                <app-footer-user></app-footer-user>
            </header>
        </div>
    </div>
</div>
