<header>
    <app-navbar-user></app-navbar-user>
</header>

<div class="container mb-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2><strong>Política de privacidad</strong> </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-justify">
            <p>
                La presente Política de Privacidad establece los términos en que el 3IT usa y protege la información que es proporcionada por sus usuarios al momento de utilizar su sitio web. Esta compañía está comprometida
                con la seguridad de los datos de sus usuarios. Cuando le pedimos llenar los campos de información personal con la cual usted pueda ser identificado, lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este documento.
                Sin embargo esta Política de Privacidad puede cambiar con el tiempo o ser actualizada por lo que le recomendamos y enfatizamos revisar continuamente esta página para asegurarse que está de acuerdo con dichos cambios.
            </p>
            <br>
            <h6><strong>Información que es recogida</strong></h6>
            <p>
                Nuestro sitio web podrá recoger información personal por ejemplo: Nombre,  información de contacto como  su dirección de correo electrónica e información demográfica.
            </p>
            <br>
            <h6><strong>Uso de la información recogida</strong></h6>
            <p>
                Nuestro sitio web emplea la información con el fin de proporcionar el mejor servicio posible, particularmente para mantener un registro de usuarios y mejorar nuestro servicio.  Es posible que sean enviados correos electrónicos
                periódicamente con información que consideremos relevante para usted o que pueda brindarle algún beneficio, estos correos electrónicos serán enviados a la dirección que usted proporcione y podrán ser cancelados en cualquier momento.
            </p>
            <p>
                3IT está altamente comprometido para cumplir con el compromiso de mantener su información segura.
            </p>
            <br>
            <h6><strong>Cookies</strong></h6>
            <p>
                Una cookie se refiere a un fichero que es enviado con la finalidad de solicitar permiso para almacenarse en su ordenador, al aceptar dicho fichero se crea y la cookie sirve entonces para tener información respecto al tráfico web, y también facilita las
                futuras visitas a una web recurrente. Otra función que tienen las cookies es que con ellas las web pueden reconocerte individualmente y por tanto brindarte el mejor servicio personalizado.
            </p>
            <p>
                Nuestro sitio web no emplea cookies de modo que no identificamos las páginas que son visitadas y su frecuencia.
            </p>
            <br>
            <h6><strong>Enlaces a Terceros</strong></h6>
            <p>
                Este sitio web pudiera contener enlaces a otros sitios que pudieran ser de su interés. Una vez que usted de clic en estos enlaces y abandone nuestra página, ya no tenemos control sobre el sitio al que es redirigido y por lo tanto no somos responsables
                de los términos o privacidad ni de la protección de sus datos en esos otros sitios terceros. Dichos sitios están sujetos a sus propias políticas de privacidad por lo cual es recomendable que los consulte para confirmar que usted está de
                acuerdo con estas.
            </p>
            <br>
            <h6><strong>Control de su información personal</strong></h6>
            <p>
                En cualquier momento usted puede restringir la recopilación o el uso de la información personal que es proporcionada a nuestro sitio web.  Cada vez que se le solicite rellenar un formulario, como el de alta de usuario, puede marcar o desmarcar la opción
                de recibir información por correo electrónico.  En caso de que haya marcado la opción de recibir información por correo electrónico usted puede cancelarla en cualquier momento.
            </p>
            <p>
                Esta compañía no venderá, cederá ni distribuirá la información personal que es recopilada sin su consentimiento, salvo que sea requerido por un juez con un orden judicial.
            </p>
            <br>
            <p><small><strong>
                3IT se reserva el derecho de cambiar los términos de
                    la presente Política de Privacidad en cualquier momento.
                </strong></small></p>
        </div>
    </div>
    <button class="btn btn-outline-primary" [routerLink]="['/registrarse']">
        Regresar
    </button>
</div>
